{% extends 'base.html' %}
{% block extrahead %}
{% endblock %}

{% block pageblock %}
<div ng-app="startnow" ng-controller="FetchController">
    <div class="row">
        <div class="col-md-8">
            <div class="card filter">
                <div class="header">
                    <h4 class="title">Trip Info</h4>
                </div>
                <div class="content">
                    <div class="container-fluid">
                        <i class="pe-7s-map-marker"></i>
                        <input id="origin-input" class="controls" type="text"
                            placeholder="Enter an origin location"></p>
                        <i class="pe-7s-map-marker"></i>
                        <input id="destination-input" class="controls" type="text"
                            placeholder="Enter a destination location">
                        <div class="footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card filter">
                <div class="header">
                    <h4 class="title">
                        <i class="pe-7s-clock ">
                            Start
                                <select ng-model="choice"
                                    ng-options="duration.value for duration in duration_list"> 
                                </select>
                        </i>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div id="chartContainer" ></div>
                <div id="schedChartContainer" ></div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12">
            <div class="card">
                <div class="ct-chart">
                    <h4 class="title">Users Behavior</h4>
                    <p class="category">24 Hours performance</p>
                </div>
                <div class="content" id="map">
                </div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Click
                            <i class="fa fa-circle text-warning"></i> Click Second Time
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
